*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Macrostruttura generale */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

nav{
    float: left;
    background-color: black;
    width: 210px;
    height: calc(100vh - 10vh);
}

main{
    width: calc(100% - 210px);
    height:calc(100vh - 10vh) ;
    float: left;
}

main>.main-up{
    background-color: rgb(2, 2, 33);
    height: 10vh;
}

main>.main-down{
    background-color: rgb(25, 25, 46);
    height: calc(100% - 10vh);
    overflow: auto;
}


footer{
    background-color: rgb(44, 43, 43);
    height: 10vh;
}

/* Macrostruttura generale versione smartphone */

@media screen and (max-width:480px){
    nav{
        float: left;
        background-color: black;
        width: 35px;
        height: calc(100vh - 10vh);
    }
    main{
        width: calc(100% - 35px);
        height:calc(100vh - 10vh) ;
        float: left;
    }

}

/* main-up */

.main-up>span{
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    width: 13.3rem;
    height: 2.3rem;
    display: inline-block;
    line-height: 2.3rem;
    text-align: center;
    font-size: 0.75rem;  
    margin-right: 5px;
}

.main-up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* nav */

nav *{
    color: rgb(75, 69, 69);
    font-weight: bold;
    font-size: 0.75rem;
}

nav>span,nav>i{
    color:white;
    font-size:1.3rem ;
    font-weight: bold;
    margin-bottom: 20px;
}

nav>i{
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.8rem;
}

nav .white-li{
    color: white;
}

nav li{
    margin-bottom: 0.65rem;
    margin-left: 15px;
}

nav ul{
    list-style-type: none;
}

nav.relative{
    position: relative;
}

nav div.absolute{
    position: absolute;
    bottom:1%;
    width:100%;
}

nav span.download{
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-size: 0.7rem;
}

nav hr{
    margin-top:10px ;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

nav span.jhon{
    color:white;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 10px;
    
}
