*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Macrostruttura generale */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

nav{
    float: left;
    background-color: black;
    width: 210px;
    height: calc(100vh - 10vh);
}

main{
    width: calc(100% - 210px);
    height:calc(100vh - 10vh) ;
    float: left;
}

main>.main-up{
    background-color: rgb(2, 2, 33);
    height: 10vh;
}

main>.main-down{
    background-color: rgb(25, 25, 46);
    height: calc(100% - 10vh);
    overflow: auto;
}


footer{
    background-color: rgb(44, 43, 43);
    height: 10vh;
}

/* Macrostruttura generale versione smartphone */

@media screen and (max-width:576px){
    nav{
        float: left;
        background-color: black;
        width: 35px;
        height: calc(100vh - 10vh);
    }
    main{
        width: calc(100% - 35px);
        height:calc(100vh - 10vh) ;
        float: left;
    }

}

/* main-up */

.main-up>span{
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    width: 10rem;
    height: 1.7rem;
    display: inline-block;
    line-height: 1.7rem;
    text-align: center;
    font-size: 0.58rem;  
    font-weight: bold;
    margin-right: 3px;
}

.main-up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* main-down */

.main-down-up.flex{
    color: rgb(103, 103, 103);
    font-weight: bold;
    font-size: 0.58rem;
    margin-bottom:25px;
}

.main-down h1{
    color: white;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.Recently-played-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-down .card{
    width:calc(100% / 6);
    text-align: center;
    border: 1px solid white;
}

.Recently-played{
    width:96% ;
    margin: 0 auto;
    margin-bottom: 25px;
}

.Creato-per-Jhon-Doe>span,.Artisti-più-popolari>span{
    margin-top:10px ;
    margin-bottom: 10px;
    font-size: 0.56rem;
    color: rgb(103, 103, 103);
}

.Creato-per-Jhon-Doe>h1,.Artisti-più-popolari>h1{
    margin-bottom: 10px;
}

.Artisti-più-popolari{
    width:96% ;
    margin: 0 auto;
    margin-bottom: 25px;
}

.Artisti-più-popolari-container{
    width: 100%;
    display: flex;
}

.Artisti-più-popolari-container .card{
    width:calc(100% / 6);
    text-align: center;
}

.card-up{
    background-color: black;
    height: 115px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-down h2{
    color:white;
    font-size: 0.7rem;
}

.Creato-per-Jhon-Doe{
    width: 96%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.Creato-per-Jhon-Doe-container{
    display: flex;
}

.card-down span{
    color: rgb(103, 103, 103);
    font-size: 0.55rem;
    font-weight: bold;
}





.main-down-up.flex ul{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.main-down .main-down-up ul{
    list-style-type: none;
}

.main-down-up li{
    margin-left: 0.5rem;
}


/* nav */

nav *{
    color: rgb(75, 69, 69);
    font-weight: bold;
    font-size: 0.63rem;
}

.nav-bigger-than-xs>span,.nav-bigger-than-xs>i{
    color:white;
    font-size:1.1rem ;
    font-weight: bold;
    margin-bottom: 20px;
}

.nav-bigger-than-xs>i{
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.3rem;
}

ul.n2 i{
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1.3rem;
    color: white;
}

.fa-house{
    color: white;
}

ul.n1 i{
    margin-right: 5px;
    margin-left: 0px;
    font-size: 0.65rem;
}

ul.n1 img{
    width: 0.65rem;
    height: 0.65rem;
    object-fit: cover;
}


span.jhon i{
    margin-right: 5px;
    margin-left: 0px;
    font-size: 0.95rem;
    color: white;
}



.nav-bigger-than-xs .white-li{
    color: white;
}

.nav-bigger-than-xs li{
    margin-bottom: 0.65rem;
    margin-left: 15px;
}

.nav-bigger-than-xs ul{
    list-style-type: none;
}

nav.relative{
    position: relative;
}

nav.relative>div.absolute-bigger-than-xs{
    position: absolute;
    bottom:1%;
    width:100%;
}

nav.relative span.download{
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 0.65rem;
}

nav.relative hr{
    margin-top:10px ;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

nav.relative span.jhon{
    color:white;
    font-size: 0.64rem;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 10px;
    
}

div.nav-xs{
    display: none;
}

div.absolute-xs{
    display: none;
}


/* nav: versione xs*/
@media screen and (max-width:576px){
    
    .nav-bigger-than-xs{
        display: none;
    }

    .absolute-bigger-than-xs{
        display: none;
    }

    div.absolute-xs{
        display: block;
        position: absolute;
        bottom:0;
        width:35px;
    }

    div.nav-xs img{
        width: 0.65rem;
        height: 0.65rem;
        object-fit: cover;
    }

    nav.relative span.download{
        width: 35px;
        font-size: 0.65rem;
        display: flex;
        justify-content: center;
        margin-left: -2px;
        margin-bottom: 21px;
    }

    nav.relative span.jhon{
        color:white;
        font-size: 0.5rem;
        font-weight: bold;
        width: 35px;
        display: flex;
        justify-content: center;
        margin-left: 1px;
    }

    div.nav-xs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.65rem;
    }

    div.nav-xs i{
        font-size: 0.65rem;
        margin-bottom: 0.65rem;
    }

    div.nav-xs i:first-child{
        font-size: 1.3rem;
        color: white;
        margin-top: 5px;
        margin-bottom: 1rem;
    }

}

/* footer*/

footer.flex{
    display: flex;
    justify-content: space-between;
    
}

div.left.flex{
    width:210px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

div.part1.flex{
    display: flex;
    height: 100%;
}

div.immagine,.div.testo.flex{
    height: 100%;
}

div.immagine{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

div.immagine img{
    width: 2rem;
    height: 45%;
    object-fit: cover;
}

div.part2{
    display: flex;
    align-items: center;
    height: 100%;
}

div.part2>i{
    color: rgb(110, 110, 110);
}

div.part2>i:first-child{
    margin-right: 12px;
    font-size: 0.85rem;
}

div.part2>i:last-child{
    margin-right: 10px;
    font-size: 0.85rem;
}

div.part1.flex br{
    display: none;
}

div.testo.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.60rem;
    font-weight: bold;
}

div.testo.flex>span:first-child{
    color: white;
}

div.testo.flex>span:last-child{
    color: rgb(110, 110, 110);
}

footer>div.right{
    width: 210px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    color: white;
    
}

footer div.range-volume{
    width: 60%;
    height: 3px;
    background-color: rgb(86, 86, 86);
    border-radius: 3px;
}

footer div.value-volume{
    width: 20%;
    height: 100%;
    background-color: rgb(171, 171, 171);
    border-radius: 3px;
}

footer div.right>i{
    margin-right: 12px;
    font-size: 0.75rem;
}

div.center>.center-up{
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 4px;
}

div.center .fa-circle-play{
    font-size: 1.5rem;
}

div.center .center-up>i{
    margin-left: 18px;
}


div.time-range{
    display: inline-block;
    height: 3px;
    width: 225px;
    background-color: rgb(86, 86, 86);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

div.time-value{
    width: 15%;
    height: 100%;
    background-color: rgb(171, 171, 171);
    border-radius: 3px;
}

div.center-down>span{
    color: white;
    font-size: 0.6rem;
}

/*footer versione md*/
@media screen and (max-width:992px){
    
    div.time-range{
        display: inline-block;
        height: 3px;
        width: 200px;
        background-color: rgb(86, 86, 86);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 3px;
    }    

    div.center .center-up>i:first-child{
        margin-left: -2px;
    }

    footer div.center {
        margin-left: -10px;
      }

    footer>div.right{
        width: 210px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        color: white;
        
    }
    
}



/*footer versione s*/
@media screen and (max-width:768px){
    
    

    div.time-range{
        display: inline-block;
        height: 3px;
        width: 115px;
        background-color: rgb(86, 86, 86);
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 3px;
    }    

    div.center .center-up>i:first-child{
        margin-left: 16px;
    }

    div.center .center-up>i{
        margin-left: 22.5px;
    }
    
    div.left.flex{
        width:200px;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    footer div.right>i{
        margin-right: 6px;
        font-size: 0.75rem;
    }
    
    div.part2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 21px;
    }

    div.part2>i:first-child{
        font-size: 0.85rem;
        margin-bottom: 4px;
        margin-top: 0px;
    }

    div.part2>i:last-child{
        font-size: 0.85rem;
    }

    div.center-down{
        padding-left: 15px;
    }

    footer div.center{
        margin-left: -60px;
    }

    footer>div.right{
        width: 160px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        color: white;
    }



}

/*footer versione xs*/
@media screen and (max-width:576px){
    
    div.part1.flex br{
        display: inline;
    }

    div.immagine img{
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
    }

    div.immagine{
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-left: 6px;
    }

    footer>div.right{
        width: 110px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        color: white;
    }

    footer div.right>i{
        margin-right: 6.5px;
        font-size: 0.75rem;
    }

    div.time-range{
        display: inline-block;
        height: 3px;
        width: 80px;
        background-color: rgb(86, 86, 86);
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 3px;
    }    

    div.time-range{
        display: inline-block;
        height: 3px;
        width: 100px;
        background-color: rgb(86, 86, 86);
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 3px;
    }    

    footer div.center{
        margin-left: -100px;
    }

}
